<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_ul">
            <li class="main-header_items"><a href="/">Shop</a></li> 
            <li><a href="/admin/add-products">Add products</a></li>
        </ul>
    </nav>
</header>