<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_ul">
                <li class="main-header_items"><a href="/">Shop</a></li> 
                <li><a href="/admin/add-products">Add products</a></li>
            </ul>
        </nav>
    </header>
    <main>
       <h1>My Products</h1>
       <p>List of all products...</p>
       <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4_3ELUAraSJdzdVvyOYEfK2ow6D0v7vKjCFEfI_9PRxw8rJ76yPpc801zXcENooNy5Pc&usqp=CAU">
        <p>title</p>
       </div>
    </main>
</body>
</html>